<div class='dashboard-container'>
  <div class='dashboard-header'>
    <h1 class="m-3">Welcome, <%= current_user.first_name %></h1>
    <span>Here are the current stats of your pet:</span>
  </div>
</div
